/* colors */
$white:                    #ffffff;
$black:                    #000000;
$dark-gray:                #444444;

/* typography */
$font-family:              "Open Sans", "Arial", sans-serif;

$size-base:                16px;

/* view port */
$tablet-width:            768px;
$desktop-width:           1150px;

$retina-dpi:              144dpi;
$retina-dppx:             1.5dppx;

/* other */
